@import './scss/normalize.scss';
@import './scss/variables.scss';
@import './scss/mixins.scss';

body {
  width: 100vw;
  font-size: 1.6rem;
  .btn-setting {
    @include buttonF();
    position: fixed;
    top: 10rem;
    right: -2rem;
  }
}

#main {
  @include flexF();
}
